* {
  padding: 0;
  margin: 0;
}

.menu-wrap {
  display: none;
}

/*colors*/
:root {
  --primary-color: white;
  --secondary-color: black;
  --third-color: #B50014;
  --fourth-color: grey;
  --fifth-color: red;
  --sixth-color: #252525;
  --seventh-color: #66000B;
  --eighth-color: rgba(0, 0, 0, 0.408);
  --nineth-color: rgba(255, 255, 255, 0.604);
  --tenth-color: rgb(255, 123, 0);
  --eleventh-color: white;
  --twelweth-color: black;
  --thirteenth-color: lightgrey;
}

.light-theme {
  --primary-color: black;
  --secondary-color: grey;
  --sixth-color: grey;
  --eighth-color: rgba(255, 255, 255, 0.407);
  --fourth-color: black;
}

body {
  background-image: url(./images/80457d7e9d392ee84954d90d13d15d69@2x\ 1.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-color: var(--secondary-color);
  background-size: cover;
}

body::-webkit-scrollbar {
  display: none;
}

.popup-box {
  display: none;
  position: fixed;
  text-align: center;
  width: 100%;
  height: 40%;
  z-index: 10;
  top: 0;
  left: 0;
}

input {
  color: var(--secondary-color);
  padding-left: 10px;
  border-style: solid;
  border-radius: 9px;
  height: 30px;
  border-width: 2.5px;
  font-size: 16px;
  font-weight: 600;
}

.username {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.loginbutton {
  display: flex;
  gap: 10px;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.loginkepek {
  filter: invert(1);
}

.popup-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  justify-content: center;
  background: white;
  min-width: 220px;
  max-width: 320px;
  min-height: 160px;
  height: 620px;
  border-radius: 25px;
  padding: 15px;
  margin: auto;
  top: 25%;
  position: relative;
}

.popup-inner a {
  color: var(--secondary-color);
}

.transparent-layer {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #000000;
  opacity: 0.3;
  overflow: hidden;
}

/*fonts*/
h1 {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 38px;
  font-weight: 700;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-size: 32px;
  font-weight: 700;
}

.Body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 300;
  width: auto;
  text-decoration: none;
}

.fontfamily1 {
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  font-weight: 700;
  width: auto;
}

.fontfamily2 {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 300;
}

/*site*/
.Weboldal {
  display: flex;
  flex-direction: column;
}

.pdf {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 10px;
}

.moon {
  width: 35px;
  padding-right: 245px;
  cursor: pointer;
}

.swiper {
  width: 1920px;
  max-height: 690px;
  height: auto;
}

nav {
  padding: 40px;
  background: var(--third-color);
  color: var(--primary-color);
  font-family: "Roboto";
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  font-weight: 700;
  font-size: 16px;
}

nav .mainMenu {
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
}

nav .mainMenu li a {
  font-family: "Roboto";
  display: inline-block;
  padding: 15px;
  text-decoration: none;
  color: var(--primary-color);
  transition: 0.2s ease;
}

nav .mainMenu li a:hover {
  color: var(--fourth-color);
}

nav .openMenu {
  margin: 20px;
  display: none;
  cursor: pointer;
}

nav .mainMenu .closeMenu {
  font-size: 2rem;
  display: none;
  cursor: pointer;
}

.icons i {
  font-size: 2rem;
  display: none;
  cursor: pointer;
}

.logo {
  z-index: 2;
  position: absolute;
  padding-left: 300px;
}

.local-link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: fit-content;
}

.local-link::before {
  content: url("./images/Vector1.svg");
  display: inline;
  width: 25px;
  height: 26px;
  margin-right: 10px;
}

.fekete {
  display: flex;
  flex-direction: row;
  background-color: var(--sixth-color);
  padding: 8px;
  gap: 8px;
  color: var(--primary-color);
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 400;
  justify-content: flex-end;
  padding-right: 298px;
}

.opentag {
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 700;
}

.Header {
  display: flex;
  position: relative;
  align-items: center;
  color: var(--primary-color);
}

.headkep {
  display: flex;
  width: 100%;
  height: auto;
}

.swiper-slide {
  display: flex;
}

.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-family: swiper-icons;
  text-transform: none !important;
  letter-spacing: 0;
  font-variant: initial;
  color: var(--primary-color);
}

.swiper-button-next:after {
  font-family: swiper-icons;
  font-size: 23px;
  text-transform: none !important;
  letter-spacing: 0;
  font-variant: initial;
  color: var(--primary-color);
}

.swiper-button-prev {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  border-style: solid;
  color: var(--primary-color);
  width: 33px;
  height: 33px;
  border-radius: 90px;
  top: 95.2%;
  left: 45%;
}

.swiper-button-prev:after {
  font-family: swiper-icons;
  font-size: 23px;
  text-transform: none !important;
  letter-spacing: 0;
  font-variant: initial;
  color: var(--primary-color);
}

.swiper-button-next {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  border-style: solid;
  color: var(--primary-color);
  width: 33px;
  height: 33px;
  border-radius: 90px;
  top: 95.2%;
  right: 45%;
}

.swiper-pagination-bullet {
  background-color: var(--fifth-color);
}

.swiper-pagination {
  padding-bottom: 20px;
}

.Headtext {
  z-index: 2;
  position: absolute;
  background-color: var(--eighth-color);
  padding: 65px;
  padding-left: 300px;
  width: min-content;
}

.DryAged {
  display: flex;
  flex-direction: row;
  background-color: var(--secondary-color);
  justify-content: center;
  padding: 114px 0px 90px;
  gap: 125px;
}

.Dryszoveg {
  display: flex;
  flex-direction: column;
  color: var(--primary-color);
  gap: 41px;
  width: min-content;
}

.drytext {
  display: flex;
  flex-direction: column;
}

.drykepek {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.drynagykep {
  height: auto;
  width: 100%;
}

.drykiskepek img {
  height: auto;
  width: 32%;
}

.buttons {
  display: flex;
  gap: 16px;
}

.alte {
  border: 1.5px solid var(--primary-color);
  background-color: var(--third-color);
  font-family: "Roboto", sans-serif;
  padding: 15px 32px;
  font-weight: 400;
  font-size: 16px;
  color: var(--primary-color);
  width: 174px;
  border-radius: 25px;
  cursor: pointer;
}

.alte:hover {
  border: 1.5px solid var(--primary-color);
  background-color: var(--sixth-color);
  color: var(--primary-color);
  transition: 55ms;
}

.Buchen {
  background-color: var(--third-color);
  color: var(--primary-color);
  display: flex;
  gap: 50px;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 435px;
}

.buchentext {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--primary-color);
  margin: 15px 0px 15px 0px;
}

.Body li {
  margin-left: 20px;
}

.grillbutton {
  border: 1.5px solid var(--fifth-color);
  background-color: var(--eleventh-color);
  padding: 15px 32px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  border-radius: 25px;
  width: 174px;
  cursor: pointer;
}

.grillbutton:hover {
  border: 1.5px solid var(--eleventh-color);
  background-color: var(--sixth-color);
  color: var(--eleventh-color);
  transition: 55ms;
}

.buchenkep img {
  display: flex;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.handwerk {
  background-color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 65px;
  padding: 119px 0px 227px;
}

.handwerkszoveg {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--primary-color);
  text-align: center;
}

.vonal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  max-width: 100%;
  width: auto;
}

hr {
  width: 470px;
  border-width: 0px;
  height: 1px;
  background-color: var(--fourth-color);
}

.handwerkepek {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
  height: auto;
  flex: 50%;
  flex-wrap: wrap;
}

.spices {
  background-color: var(--third-color);
  color: var(--primary-color);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 124px;
}

.spicekep img {
  display: flex;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.spicetext {
  display: flex;
  flex-direction: column;
  width: 400px;
  justify-content: center;
  margin-right: 50px;
}

.steak {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 470px;
}

.steaktext {
  z-index: 2;
  display: flex;
  flex-direction: column;
  gap: 40px;
  position: absolute;
  color: var(--primary-color);
}

.award {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  display: flex;
  flex-direction: row;
  width: auto;
  justify-content: center;
  align-items: center;
  gap: 260px;
  padding: 200px;
}

.awardtext {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.golden {
  display: flex;
  background-color: var(--secondary-color);
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.award1 {
  display: flex;
  flex-direction: column;
  color: var(--fourth-color);
  justify-content: center;
  align-items: center;
}

.goldenaward {
  margin: 15px;
  gap: 20px;
  padding: 150px 0px 130px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--primary-color);
}

.goldenkepek {
  display: flex;
  gap: 10px;
  flex: 50%;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  height: auto;
}

.java {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: var(--secondary-color);
}

.javatext {
  color: var(--primary-color);
}

.javaszoveg {
  font-size: 18px;
  font-weight: 700;
}

html {
  scroll-behavior: smooth;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 300;
}

.slider {
  margin-bottom: 30px;
}

.container{
  padding-top: 25px;
}

.slider .owl-item.active.center .slider-card {
  transform: scale(1.15);
  opacity: 1;
}

.slider-card {
  background: #fff;
  padding: 0px 0px;
  margin: 50px 15px 90px 15px;
  border-radius: 5px;
  box-shadow: 0 15px 45px -20px rgba(0, 0, 0, 0.73);
  transform: scale(0.9);
  opacity: 0.5;
  transition: all 0.3s;
}

.slider-card .slider-card img {
  border-radius: 5px 5px 0px 0px;
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+HK&display=swap');

.slider {
  margin-bottom: 30px;
  position: relative;
}

.d-flex {
  display: flex !important;
  flex-direction: column-reverse;
  gap: 15px;
  padding-top: 20px;
}

.macskakaparas {
  display: flex;
  width: auto;
  height: auto;
  padding-left: 300px;
  padding-top: 20px;
}

.slider .owl-item.active.center .slider-card {
  transform: scale(1.15);
  opacity: 1;
  color: #fff;
  padding: 10px;
}

.slider-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--sixth-color);
  padding: 0px;
  margin: 50px 15px 90px 15px;
  height: 429px;
  border-radius: 5px;
  box-shadow: 0 15px 45px -20px rgb(0 0 0 / 73%);
  transform: scale(0.9);
  opacity: 0.5;
  transition: all 0.3s;
}

.p-4 {
  width: 300px;
  padding: 38px 0px 10px 0px!important;
}

.slider-card img {
  border-radius: 5px 5px 0px 0px;
  padding-top: 15px;
}

.owl-nav .owl-prev {
  position: absolute;
  top: calc(50% - 25px);
  left: 0;
  opacity: 1;
  font-size: 30px !important;
  z-index: 1;
}

.owl-nav .owl-next {
  position: absolute;
  top: calc(50% - 25px);
  right: 0;
  opacity: 1;
  font-size: 30px !important;
  z-index: 1;
}

.footer {
  display: flex;
  flex-direction: row;
  background-color: var(--third-color);
  padding: 58px 300px 58px 300px;
  justify-content: space-between;
  align-items: center;
  color: var(--primary-color);
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 400;
}

.footerlist li a {
  text-decoration: none;
  color: var(--primary-color);
}

.footerkep {
  padding-left: 140px;
}

.footermedia {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.footer ul {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  gap: 8px;
}

.footer li:nth-child(1) {
  list-style-image: url("./images/gps_5063963.png");
}

.footer ul li:nth-child(2) {
  list-style-image: url("./images/old-phone_4504102.png");
}

.footer ul li:nth-child(3) {
  list-style-image: url("./images/email_2258541.png");
}

.alfooter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--seventh-color);
  color: var(--nineth-color);
  padding: 15px 300px 15px 300px;
  font-family: "Roboto";
  font-size: 12px;
  font-weight: 400;
}

span {
  font-style: italic;
  text-decoration: underline;
  color: var(--primary-color);
  cursor: pointer;
}

@media only screen and (max-width: 1800px) {
  .swiper-button-next {
    right: 43%;
  }

  .swiper-button-prev {
    left: 43%;
  }

  .Buchen {
    padding-left: 250px;
  }

  .logo {
    padding-left: 149px;
  }

  .moon {
    padding-right: 115px;
  }

  nav .mainMenu {
    padding-right: 0px;
  }

  .DryAged {
    padding: 114px 0px 90px;
  }

  .goldenkepek {
    gap: 50px;
    padding-top: 70px;
  }

  .fekete {
    padding-right: 149px;
  }

  .Headtext {
    padding-left: 150px;
  }

  .footer {
    padding: 58px 149px 58px 149px;
  }

  .alfooter {
    padding: 0px 149px 0px 149px;
  }
}

@media only screen and (max-width: 1500px) {
  .logo {
    padding-left: 50px;
  }
}

@media only screen and (max-width: 1400px) {
  .moon {
    padding-right: 0px;
  }

  .fekete {
    padding-right: 40px;
  }

  .Buchen {
    padding-left: 250px;
  }

  nav {
    flex-direction: row;
    justify-content: flex-end;
  }

  .Header {
    display: flex;
    flex-direction: column;
  }

  .Headtext {
    position: relative;
    max-width: 100%;
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: auto;
  }

  nav .mainMenu {
    height: 100vh;
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    z-index: 10;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--secondary-color);
    transition: top 1s ease 0s;
    display: none;
  }

  nav .mainMenu .closeMenu {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
  }

  nav .openMenu {
    display: block;
  }

  nav .mainMenu li a:hover {
    background: none;
    color: var(--tenth-color);
  }

  .icons i {
    display: inline-block;
    padding: 12px;
  }

  .DryAged {
    padding: 114px 37px 90px;
    gap: 50px;
  }

  .award {
    padding: 15px;
  }
}

@media only screen and (max-width: 1200px) {
  .swiper-button-next {
    right: 40%;
  }

  .swiper-button-prev {
    left: 40%;
  }

  .Buchen {
    padding-left: 50px;
  }

  .footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 50px;
    gap: 71px;
  }

  .footerkep {
    padding: 0px;
  }

  .footermedia {
    display: flex;
    flex-direction: column;
    gap: 25px;
  }

  .alfooter {
    display: flex;
    flex-direction: column;
    padding: 30px 0px 30px 0px;
    gap: 30px;
  }

  .footer li:nth-child(1) {
    list-style-image: none;
    list-style: none;
  }

  .footer ul li:nth-child(2),
  .footer ul li:nth-child(3) {
    list-style-image: none;
    list-style: none;
  }
}

/*mobile*/
@media only screen and (max-width: 900px) {

  .owl-nav .owl-prev {
    top: calc(95% - 25px);
    left: 30%;
    opacity: 1;
    font-size: 30px !important;
  }
  
  .owl-nav .owl-next {
    top: calc(95% - 25px);
    right:30%;
    opacity: 1;
    font-size: 30px !important;
  }

  .swiper-pagination,
  .swiper-button-next,
  .swiper-button-prev {
    display: none;
  }

  .logo {
    width: 150px;
  }

  .fekete {
    display: flex;
    flex-direction: column;
    align-items: end;
    text-align: right;
  }

  .fekete img {
    display: none;
  }

  .DryAged {
    display: flex;
    flex-direction: column-reverse;
    background-color: var(--secondary-color);
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 15px;
    padding: 0px 0px 60px;
  }

  .Dryszoveg {
    display: flex;
    width: 347px;
    justify-content: center;
    align-items: center;
  }

  .alte {
    border: 1.5px solid var(--primary-color);
    background-color: var(--third-color);
    font-family: "Roboto", sans-serif;
    padding: 15px 32px;
    font-weight: 400;
    font-size: 16px;
    color: var(--primary-color);
    width: 222px;
    border-radius: 25px;
    cursor: pointer;
  }

  .Buchen {
    background-color: var(--third-color);
    color: var(--primary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 84px;
    padding-top: 75px;
    padding-left: 0px;
  }

  .handwerkszoveg {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--primary-color);
    text-align: center;
    width: 367px;
  }

  .spices {
    background-color: var(--third-color);
    color: var(--primary-color);
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
    gap: 59px;
  }

  .spicetext {
    padding: 15px;
    width: 368px;
    margin: 0px;
  }

  .award {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 120px;
    padding: 55px 0px 55px 0px;
  }

  .goldenaward {
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (max-width: 600px) {
  .popup-inner {
    min-width: 230px;
  }

  .logo {
    padding-left: 20px;
  }

  .Headtext {
    padding: 40px;
  }

  .buttons {
    flex-direction: column;
  }

  .award img {
    width: 205px;
  }

  .fekete {
    font-size: 10px;
  }
}

@media only screen and (max-width: 380px) {
  .logo {
    padding-left: 10px;
    width: 140px;
  }

  nav {
    padding-right: 10px;
  }

  .handwerkszoveg,
  .Dryszoveg,
  .spicetext {
    width: 200px;
  }
}