* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.Weboldal {
    display: flex;
    flex-direction: column;
}

.Navbar {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    width: 100%;
    position: relative;
    z-index: 2;

}

a:hover {
    text-decoration: none;
    background-color: transparent;
    color: rgb(200, 200, 200);
    transition: 500ms;
}

a {
    text-decoration: none;
    background-color: transparent;
    color: white;
}

li a{
    display: flex;
}

.local-link::before {
    content: url('images/Vector1.svg');
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: 10px;
    top: 0;
    left: 50%;
    transform: translate(-50%, -6px);
}

.piros {
    display: flex;
    flex-direction: row;
    background-color: #B50014;
    height: 93px;
    align-items: center;
    justify-content: flex-end;
    gap: 21px;
    font-size: 15px;
    font-weight: 700;
    padding-right: 198px;
    list-style: none;
    color: white;
}

.Opentime {
    font-weight: bold;
}

.fekete {
    display: flex;
    flex-direction: row;
    background-color: #252525;
    top: 95px;
    height: 30px;
    align-items: center;
    justify-content: flex-end;
    color: white;
    font-size: 14px;
    font-weight: 400;
    gap: 6.95px;
    padding-right: 198px;
}

.Logo {
    display: flex;
    position: absolute;
    z-index: 1;
    padding-left: 15%;
}

.Header {
    display: flex;
    position: relative;
    align-items: center;
}

.Header img {
    width: 100%;
    height: 100%;
}

.Headtext {
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.300);
    width: 300px;
    position: absolute;
    gap: 15px;
    padding-top: 67px;
    padding-bottom: 42px;
    padding-left: 250px;
    padding-right: 56px;
}

.cim {
    font-weight: 700;
    font-size: 38px;
    color: white;
}

.alszoveg {
    font-size: 16px;
    font-weight: 300;
    color: white;
}

.DryAged {
    background-color: #252525;
}