* {
    padding: 0;
    margin: 0;
}

.Weboldal {
    display: flex;
    flex-direction: column;
}

.Navbar {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    width: 100%;
    position: relative;
    z-index: 2;
}

.piros {
    display: flex;
    flex-direction: row;
    background-color: #B50014;
    height: 93px;
    align-items: center;
    justify-content: flex-end;
    gap: 21px;
    font-size: 15px;
    color: white;
    font-weight: 700;
    padding-right: 198px;
}

.pdf {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1px;
}

.Opentime {
    font-weight: bold;
}

.fekete {
    display: flex;
    flex-direction: row;
    background-color: #252525;
    top: 95px;
    height: 30px;
    align-items: center;
    justify-content: flex-end;
    color: white;
    font-size: 14px;
    font-weight: 400;
    gap: 6.95px;
    padding-right: 198px;
}

.Logo {
    display: flex;
    position: absolute;
    z-index: 1;
    padding-left: 15%;
}